<h1><%= @tool.name %></h1>

<p><%= @tool.description %></p>

<ul>
  <li><%= link_to "Edit", edit_tool_path(@tool) %></li>
  <li><%= link_to "Destroy", tool_path(@tool), data: {
    turbo_method: :delete, 
    turbo_confirm: "Are you sure?"
  } %></li>
    <li><%= link_to "Back", tools_path %></li>
</ul>

<h2>Categories</h2>
<%= render @tool.categories%>

<h2>Add a category:</h2>
<%= render 'categories/form' %>